{% extends 'base.html' %} {% block content %}
<div class="travel-main">
  <div class="tcard">
    {% for category in categories %}
    <h5 class="card-title"><b>{{category.name}}</b></h5>
    <p class="card-text">{{category.description}}</p>
    {% endfor%}
    
  </div>


   <div class="tcard">
    {% for image in details %}
    <h5 class="card-title"><b>{{image.name}}</b></h5>
    <p class="card-text">{{image.description}}</p>
    {% if image %}
    <img src="{{image.image}}" alt="" >
    {% else %}
    <p>Image coming soon ...</p>
    {% endif %}
    <h1>{{image.updateAt}}</h1>
    {% endfor%}
    
  </div>



  
  <a href="{% url 'add_details' %}">Add</a>

  <a href="">View</a>
</div>
{% endblock %}
