{% extends 'base.html' %} {% block content %}
<div class="view-add">
  <div class="add">
    <a href="{% url 'add_details' %}">Add</a>
  </div>
</div>

<div class="travel-main">
  <div class="tcard">
    {% for category in categories %}
    <h3>category</h3>
    <h5 class="card-title"><b>{{category.name}}</b></h5>
    <p class="card-text">{{category.description}}</p>
    {% endfor%}
  </div>
  
  <div class="t_image">
    {% for images in details %}
    <h3 class="card-title"><b>{{images.name}}</b></h3>
    <p class="card-text">{{images.description}}</p>
    {% if images %}
    <img src="{{images.image}}" alt="" />
    {% else %}
    <p>Image coming soon ...</p>
    {% endif %}
    <h6>{{images.updateAt}}</h6>
    {% endfor%}
  </div>
</div>
{% endblock %}
