{% extends 'base.html' %} {% block content %}
<div class="travel-main">
  <div class="card tcard">
    <div class="card-body">
      {% for category in categories %}
      <h5 class="card-title">{{category.name}}</h5>
      {% endfor %} 
      {% for category in categories %}
      <p class="card-text">{{category.description}}</p> 
      {% endfor%}
      <a href="{% url 'view_image' %}" class="btn btn-primary">View</a>
      <a href="{% url 'add_travel' %}">Add</a>
    </div>
  </div>
</div>
{% endblock %}
